*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    color: black;
}
.bg-load{
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-load .load{
    width: 100%;
    height: 100%;
    border-top-color: 5px solid black;
    border-right-color: 5px solid black;
    border-bottom-color: 5px solid black;
    border-radius: 50%;
    animation: putar 1s linear infinite;

}
header{
    height: 70px;
    background-color: rgb(87, 104, 255);
    color: white;
}
header h1{
    display: inline-block;
    float: left;
    padding: 16px 20px 16px 20px;
    text-transform: uppercase;
}
header h1 a:hover{
    color:#c84b31;
}
header h1 a{
    transition: 0.3s;
}
header ul{
    float: right;
}
header ul li{
    padding: 24px;
    display: inline-block;
    text-transform: capitalize;
}
header ul li a:hover{
    color:#c84b31;
    transition: 0.3s;
}
header ul li a{
    transition: 0.3s;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0px auto;
    margin-bottom: 30px;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 15px;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(74, 88, 255, .9);
    transition: 0.3s;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li{
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}
.sidebar ul li:hover{
    background-color: #c84b31 ;
}
#check:checked ~ .sidebar {
    left: 0;
}

#banner{
    background-color: #293b5f;
    padding:100px 0;
    padding-left: 30px;
}
#banner img{
    border-radius: 1000px;
    width: 250px;
    margin-bottom: 20px;
}
#banner h2{
    margin-bottom: 10px;
}
#banner p{
    font-size: 18px;
    text-align: left;
}
#banner h2,
#banner p,
#banner span{
    color: white;
    left: 0px;
}
#banner-left{
    padding-left: 24px;
}
#about{
    padding: 30px 0px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: red;
    left: calc(50% - 60px);
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 40px;
    height: 4px;
    background-color:blue;
    left: calc(50% - 20px);
}
.desk p{
    text-align: center;
    text-indent: 20px;
    line-height: 25px;
    margin-bottom: 15px;
}
#skills{
    background-color: whitesmoke;
    padding: 20px 0px;
}
#skills span{
    padding-top: 10px;
}
#skills .desk .bar{
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    margin: 5px 0px 30px 0px;
}
.desk .bar .nilai{
    height: 20px;
    background-color: red;
    border-radius: 20px;
    display: inline-block;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}
.webdev{
    width: 80%;
}
.ts{
    width: 70%;
}
.edit{
    width: 70%;
}
.network{
    width: 70%;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    margin-bottom: 15px;
    text-align: center;
}
.col-4 img{
    width: 100%;

}
.col-4 a:hover img{
    transform: scale(1.2);
    transition: 0.3s;
}
.col-3{
    width: 33.33%;
    box-sizing: border-box;
    float:right;
    text-align: center;
    padding: 5px 10px;

}
.col-3 h4{
    padding-bottom: 10px;
    margin-bottom: 5px;
}

}
#footer{
    background-color: black;
    padding: 30px;
    text-align: center;
}
#footer small{
    color: white;
    padding: 50px;
}


@media(max-width: 768px) {
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
}
@keyframes putar{
    100% {
        transform: rotate(360deg);
    }
}